* {
  margin: 0;
  padding: 0;
}

body {
  background: azure;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background: beige;
}

.brand-section {
  padding: 1.75rem;
  font-size: 2.5rem;
}

.menu-section ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-section ul li {
  padding: 1rem;
}

.menu-section ul li a {
  text-decoration: none;
}

.mainpage-hero {
  height: 50vh;
  width: 100vw;
  color: aliceblue;
  background: url("../img/hero_background.jpg") no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
}

.mainpage-hero h1 {
  font-size: 3rem;
  margin-top: 2rem;
  padding: 3rem;
}


@media only screen and (max-width: 700px) {
  .mainpage-hero {

  }
  .mainpage-hero h1 {
    font-size: 2rem;
    margin-top: 1rem;
    padding: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .mainpage-hero {

  }
  .mainpage-hero h1 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding: 1rem;
  }
}
